<div class="container mt-4" style="background-color: lightgray">
  <h2>With Resize Sensor</h2>

  <div class="row">
    <div resized class="col-md-3 card card-red" [dndDraggable]="'test'">
      Test <br/>
      Test <br/>
      Test <br/>
    </div>
    <div resized class="col-md-3 card card-green" [dndDraggable]="'test'">
      Test <br/>
      Test <br/>
      Test <br/>
    </div>
  </div>


  <h2 class="mt-5">Without Resize Sensor</h2>

  <div class="row">
    <div class="col-md-3 card card-red" [dndDraggable]="'test'">
      Test <br/>
      Test <br/>
      Test <br/>
    </div>
    <div class="col-md-3 card card-green" [dndDraggable]="'test'">
      Test <br/>
      Test <br/>
      Test <br/>
    </div>
  </div>
  
</div>